.table {
    position: absolute;
    width: 150px;
    margin-left: 1000px;
    margin-top: 0;
    display: block;
}
/* Custom Popup Style

 */
.hidden {
    display: none;
  }

  .hint-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
/*#drop3{*/
/*    color:red;*/
/*}*/