
/* reset code */
html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    color: #585858;
}

* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.d-grid {
    display: grid;
}

button,
input,
select {
    -webkit-appearance: none;
    outline: none;
}

button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

form,
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

/*-- //Reset-Code --*/

/*-- form styling --*/
.form-info {
    width: 1200px;
    height: 800px;
    position: relative;
    margin-left: auto;
    padding-top: 2em;
}
.signinform{
    padding: 40px 40px;
    min-height: 100vh;
    background: url(../images/pet-dog.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    z-index: 1;
    align-items:center;
}
.signinform::before{
    background-color: rgba(87, 26, 26, 0.5);
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
input[type="text"],
input[type="email"],
input[type="Password"] {
    font-size: 17px;
    font-weight: 520;
    color: #fff;
    text-align: left;
    padding: 18px 18px 20px 42px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    letter-spacing: .5px;
    padding-left: 50px;
}

.input-group {
    /* margin-bottom: 25px; */
    padding: 0px 0px;
    position: relative;
    border: 1px solid #fff;
    border-radius:6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
    opacity: 0.8;
}
.input-group.two-groop{
    border-top: none;
    margin-bottom:30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
}
.bottom-groop {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.input-group.three-groop {
    border-top: none;
    position: relative;
    width: 50%;
    margin-top: -30px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.267);
}
.input-group.three-groop span i {
    margin-left: 8px;
}
#yz {
    position: absolute;
    left: 100%;
    top: 0;
    display: inline-block;
    width: 185px;
    height: 60px;
    font-size: 30px;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    border: 1px solid #fff;
    border-left: 0px;
    border-top: 0px;
    letter-spacing: 20px;
    color: #b09f70;
    background-color: transparent;
    padding-left: 10px;
    border-bottom-right-radius: 6px;
}
#disturb {
    position: absolute;
    top: 30px;
    left: 115%;
    transform: rotate(8deg);
    width: 125px;
    height: 1px;
    background-color: #fff;
}
.info form .middle-group {
    border-radius:0px;
    margin-top: -1px;
}
.btn-block {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.btn:active {
    outline: none;
}

.btn-primary {
    color: #232005;
    background-color: #ffd900;
    margin-top: 30px;
    outline: none;
    width: 100%;
    padding: 15px 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    border: none;
    text-transform: capitalize;
}


.btn-primary:hover {
    background-color:#eac803;
}

.form-row.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-row .form-check input[type="checkbox"] {
    display: none;
}

.form-row .form-check input[type="checkbox"]+label:before {
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    color: transparent;
    content: "\2714";
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    transition: 0.2s;
    vertical-align: inherit;
    width: 18px;
    text-align: center;
    line-height: 20px;
}

.form-row .form-check input[type="checkbox"]:checked+label:before {
    background-color: #ffd900;
    border-color: #ffd900;
    color: #232005;
}

.form-row .form-check input[type="checkbox"]+label {
    cursor: pointer;
    color: #fff;
}

.info h2 {
    display: inline-block;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
}

.info h4 {
    display: inline-block;
    font-size: 15px;
    padding: 8px 0px;
    color: #444;
    text-transform: capitalize;
}
h1 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.4em;
    line-height: 40px;
}
.info {
    position: absolute;
    right: 280px;
    top: 120px;
    padding: 1em 1em;
    background: transparent;
    width: 400px;
    display: grid;
    /* margin-left: 1200px; */
}

.left_grid_info {
    padding: 6em 0;
}
.form {
    padding: 0px;
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    background: #dad1f8;
}
.info p {
    padding-bottom: 30px;
    text-align: center;
}
.info p.sub-para {
    padding-bottom: 40px;
    text-align:left;
    color:#fff;
    opacity:0.9;
    line-height:28px;
}
p.account,
p.account a {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 16px;
    color: #fff;
    opacity: 0.9;
}

p.account a {
    color: #ffd900;
}

p.account a:hover {
    text-decoration: underline;
}

a.forgot {
    color: #ffeb3b;
    margin-top: 2px;
    opacity: 0.8;
}

a.forgot:hover {
    text-decoration: underline;
}
a.read {
    color: #ffeb3b;
    margin-top: 2px;
    opacity: 0.8;
}

a.read:hover {
    text-decoration: underline;
}
h3.w3ls {
    margin: 10px 0px;
    padding-left: 60px;
}

h3.agileits {
    padding-left: 10px;
}

.container {
    max-width: 890px;
    margin: 0 auto;
}

.input-group i {
    font-size: 16px;
    vertical-align: middle;
    box-sizing: border-box;
    float: left;
    width:8%;
    margin-top: 13px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 8px;
    top: 6px;
}

h5 {
    text-align: center;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
}
.footer {
    padding-top: 3em;
}
.footer p {
    text-align: center;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
    opacity:0.9;
}

.footer p a {
    color: #ffd900;
}

.footer p a:hover {
    text-decoration: underline;
}

p.continue {
    margin-top: 25px;
    padding: 0;
    margin-bottom: 20px;
    color: #fff;
}

p.continue span {
    position: relative;
}

p.continue span:before {
    position: absolute;
    content: '';
    height: 1px;
    background: #fff;
    width: 89%;
    left: -100%;
    top: 5px;
}

p.continue span:after {
    position: absolute;
    content: '';
    height: 1px;
    background: #fff;
    width: 89%;
    right: -100%;
    top: 5px;
}
::placeholder {
    color:#fff;
}

