
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*end reset*/

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: 'Barlow', sans-serif;
    width: 100%;
    height: 100%;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

select,
input[type="email"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
textarea {
  font-family: 'Barlow', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
  font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
  font-family: 'Barlow', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}


/*-- //Reset-Code --*/

body {
    background:url(../images/b2.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh; 
}
#form-main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 1;
}
.header {
    display: block;
    height: 200px;
    line-height: 200px;
	font-size:80px;
    text-align: center;
    text-transform:capitalize;
    color:#ffffff;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
    letter-spacing: 5px;
    font-family: 'LiSu', 'Arial Narrow', Arial, sans-serif;
    z-index: 100;
}
.main-bothside {
    width: 64%;
    padding: 2em 2em 2em;
    margin: 0em auto;
    -webkit-box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    -moz-box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
    background: rgba(0, 0, 0, 0.44);
    border: #000 6px double;
}
.form-group,.parent-clss{
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.personal-info {
    flex-basis: 32%;
    -webkit-flex-basis: 32%;
    box-sizing: border-box;
}
.form-mid {
    flex-basis: 31.4%;
    -webkit-flex-basis: 31.4%;
}
.form-check:nth-child(2),.form-check:nth-child(3) {
    margin-right: 9px;
}
.form-check {
    display: inline-block;
}

.personal-info p,label.form-check-label{
    font-size: 15px;
    padding: 6px 0px;
    color: #fff;
}
.parent-clss {
    padding-bottom:15px;
}
.form-left input[type="text"],.form-right input[type="text"],.form-mid input[type="email"],
 .form-mid input[type="text"],.form-control textarea,.form-left-choose input[type="file"]{
    outline: none;
    width: 100%;
    color: #fff;
    font-size: 15px;
    padding: .7em 1em .8em 0em;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 0px 0px 16px;
    display: inline-block;
    background: none;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}
.form-control textarea {
    height:9em;
    overflow: hidden;
    resize: none;
    box-shadow: 0px -1px 2px #fff;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}
#file {
    position: relative;
    float: left;
    width: 150px;
    height: 180px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.356);
    border-bottom: 1px solid #fff;
    overflow: hidden;
}
#file img {
    position: absolute;
    top: 40px;
    left: 0;
    margin: 0 25px;
}
#customFile {
    opacity: 1; 
    position: absolute;
    left: -90px;
    top: 0px;
    width: 200px;
    height: 30px;
    font-size: 18px;
}
.btn {
    float: left;
    text-align: center;
    line-height: 50px;
    width: 150px;
    height: 50px;
    background-color: rgba(172, 255, 47, 0.555);
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 20px;
}
input[type="submit"] {
    text-transform: uppercase;
    background: #fff;
    color: #000000;
    padding: .7em 0em;
    border: none;
    font-size: 1em;
    outline: none;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 1em;
    cursor: pointer;
    transition: 0.5s all;
    /* -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all; */
}

input[type="submit"]:hover {
    color: #fff;
    background: #000;
}
.form-left-choose input[type="file"]{
    border:none;
	padding:0px;
}
.copy {
    padding: 39px 0px;
}
.copy p {
    margin: 0em;
    text-align: center;
    font-size: 17px;
    color: white;
    letter-spacing: 2px;
}
.copy p a {
    color:#000;
    text-decoration: none;
}
.copy p a:hover {	color: #fff;}

