<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8">
    <title>AngioBase</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/slt.css">
    <link rel="stylesheet" href="../static/css/option.css">
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/theme.css">
    <link rel="stylesheet" href="../static/css/mainPageC.css">
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/layui/layui.js"></script>
     <script src="../static/bootstrap-4.6.1-dist/js2/bootstrap.min.js"></script>
    <script src="../static/js/theme.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>




</head>


<body>

<div class="header-nav">
    <div class="container">
        <div class="top">
            <h3 class="logo pull-left">AngioBase</h3>
            <div class="logo pull-right">


                <div class="dropdown">
                    <button class="dropbtn">Option</button>

                    <div class="dropdown-content">
                        <a href="{% url 'user_center' %}">user_center</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout1' %}">logout</a>
                        {% else %}
                            <a href="{% url 'login1' %}">login</a>
                        {% endif %}

                        <a href="{% url 'register1' %}">register</a>
                    {%if user.is_superuser%}
                     <a href="{% url 'Beta_info' %}">Tester information </a>
                        {%endif%}


                    </div>
                </div>
{#                <button id="change" class="layui-btn" style= "margin-left: 30px" >change</button>#}
                <div class="btn">
                                    <button mode="light" class="el-button el-button--primary">Light</button>
                                    <button mode="read" class="el-button el-button--success">Read</button>
                                    <button mode="dark" class="el-button el-button--warning">Dark</button>
                </div>

            </div>


            <ul class="nav-list pull-right">
                <li ><a class="text" href="{% url 'myhome_index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="active"><a href="{% url 'vessel_name_ide' %}">Vessel Identification</a></li>
                <li><a class="text" href="{% url 'questionmain' %}">Quiz Bank</a></li>
                <li><a class="text" id="download" href="">Download</a></li>


            </ul>
            <div class="clearfix"></div>

        </div>
    </div>
</div>

<div id="out" >

    <div id="outB">
        <div class="news-left pull-left" style="margin-top: 30px">
            <div class="this-news">ICA Vessel Identification</div>
            <ul class="news-menu">
                <li class="active" ><a href="{% url 'vessel_name_ide' %}"><span class="glyphicon glyphicon-play"></span>Vessel ID</a></li>
{#                <li><a href="{% url 'vessel_contour_ide' %}"><span class="glyphicon glyphicon-play"></span>Vessel Contour</a></li>#}
                <li><a href="{% url 'vessel_map_ide' %}"><span class="glyphicon glyphicon-play"></span>Vessel ID Tutor</a></li>
                <li><a href="{% url 'Projection' %}"><span class="glyphicon glyphicon-play"></span>Projection</a></li>
                 <li><a href="{% url 'All_Message2' %}?page=1"><span class="glyphicon glyphicon-play"></span>Leave comments</a></li>
                <li><a href="{% url 'case_uploads' %}"><span class="glyphicon glyphicon-play"></span>Upload labelled case</a></li>
                <li><a href="{% url 'upload_dicoms' %}"><span class="glyphicon glyphicon-play"></span>Upload dicoms</a></li>
            </ul>
        </div>
        <div class="news-right pull-left" style="margin-top: 30px">
            <div class="guild" style="margin-bottom: 30px">
                <div class="guild-main pull-left">AngioBase</div>
                <div class="guild-sub pull-right text-right">
                    <a href="{% url 'vessel_name_ide' %}">ICA Vessel Identification</a>
                </div>
            </div>

{#            <div id="patt">#}
{#                <p> Please select the sample you want to view: </p>#}
{#                <button id="refresh" class="layui-btn" style= "margin-left: 30px" >refresh</button>#}
{#            </div>#}
<p> Please select the case you want to view: </p>
<div id="big-box" style="position: relative">
    <button id="1">Previous Case</button>
    <button id="2" style=" position:absolute;right: 260px">Next Case</button>
{#    <div class="dropdown">#}
{#    <button id="FAVMenu" style=" position:absolute;right: 185px"><span class="caret">My Favorite Case</span>></button>#}
{#        <ul class="dropdown-menu pull-right" role="menu" id="shoucangliebiao"></ul>#}
{#    </div>>#}
    <button id="3" style=" position:absolute;right: 60px">Key</button>

</div>

            <div class="text" style="display: none" id="canT">
                <div class="list-text pull-left">
                    <div style="height: 600px; display: flex;justify-content: center;align-items: center">
                        <div id="border">
                          <div>
                              <canvas id="LAO"></canvas>
                            <h3 id="show_angle1" align="center"></h3>
                          </div>
                          <div>
                            <canvas id="RAO"></canvas>
                            <h3 id="show_angle2" align="center"></h3>
                          </div>

                        </div>

                    </div>
                </div>

            </div>
            <table class="table table-bordered" id = 'tip' style="display: none;margin-top: -600px;margin-left: 1000px">
         <div>
                <!--First button - Hints -->
<button id="hintsBtn" class="btn btn-primary">Hints</button>

<!-- Second button - Hints -->
<button id="hintsBtn2" class="btn btn-primary" style="margin-left: 500px">Hints</button>

<!-- Popup prompt content (hidden)-->
<div id="hintPopup" class="hint-popup hidden">
  <p id="hintContent"></p>
  <button id="nextHintBtn">Next Hint</button>
  <button id="closeHintBtn">Close</button>
</div>
</div>

<tr>
  <td>LMA = left main artery </td>
  </tr>
  <tr>
   <td>LCX = left circumflex artery</td>
  </tr>
    <tr>
   <td>RI = ramus intermedius artery </td>
  </tr>
     <tr>
   <td>D1 = the first diagonal artery </td>
  </tr>
     <tr>
   <td>D2 = the second diagonal artery </td>
  </tr>
     <tr>
   <td>SEP1 = the first septal perforator artery </td>
  </tr>
     <tr>
   <td>LCX = left circumflex </td>
  </tr>
     <tr>
   <td>OM1 = the first obtuse marginal artery </td>
  </tr>
     <tr>
   <td>OM2 = the second obtuse marginal artery </td>
  </tr>
</table>
        <div class="clv">
        <p> <button id="save_favourite" onclick="clickSaveFav()" ></button></p>
        </div>
        </div>

    </div>

</div>

<div id="addForm" style="display: none;" align="center">
    <form class="layui-form" style="margin: 20px" method="POST">
      <div class="layui-form-item">
        <label class="layui-form-label" style="width: 130px">Please select the vessel name：</label>
        <div class="layui-input-block" style="width: 130px">
          <select id="xueguan" name="xueguan" lay-verify="required">
            <option value="">Select: </option>
            <option value="LAD">LAD</option>
            <option value="D1">D1</option>
            <option value="D2">D2</option>
            <option value="LCX">LCX</option>
            <option value="OM1">OM1</option>
            <option value="OM2">OM2</option>
            <option value="LMA">LMA</option>
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block" style="margin-left: 0px;">
          <button class="layui-btn" lay-submit lay-filter="formDemo">Submit</button>
          <button type="reset" class="layui-btn">Reset</button>
        </div>
      </div>
    </form>
</div>
<div id="addRight" style="display: none;" align="center">
    <div>
{#        <img src="../static/img/right.png" style="width: 50px;height: 50px">You are right!#}
        <img id="bacImg" style="width: 50px;height: 50px"><span id="spanID">You are right!</span>
    </div>
    <div style="width: 512px; height: 512px">
        <canvas id="LAO2"></canvas>

    </div>


{#    <img id="rightImg" style="width:512px;height:512px;">#}

</div>

<script src="../static/js/jquery-1.11.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/mainPageJs.js"></script>
<script src="../static/js/Download.js"></script>


<script>
    var point_url = {% url "point_details" %}
    var get_patient_path_url = {% url "patient_path" %}
    var get_add_url = {% url "get_add" %}
    var get_pat_count_url = {% url "get_pat_count" %}
    var map_point_url = {% url "map_point" %}
    var get_main_angle_url = {% url "get_main_angle" %}
    var get_path_url = {% url "get_path" %}
    var web_favourite_handle = {% url "web_favourite_handle" %}
    var get_clv = {% url "get_clv" %}

</script>



</body>
</html>