<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <title>AngioBase</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/slt.css">
     <link rel="stylesheet" href="../static/css/option.css">
    <link rel="stylesheet" href="../static/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style_board.css">

     <link rel="stylesheet" href="../static/css//index2.css">
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/theme.js"></script>
    <style type="text/css">
        .reply_btn {
            color : red;
            text-align: right;
            float: right;
        }
    </style>
</head>
<body>
<div class="header-nav">
    <div class="container">
        <div class="top">
            <h3 class="logo pull-left">AngioBase</h3>
            <div class="logo pull-right">


                <div class="dropdown">
                    <button class="dropbtn">Option</button>
                    <div class="dropdown-content">
                        <a href="{% url 'user_center' %}">user_center</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout1' %}">logout</a>
                        {% else %}
                            <a href="{% url 'login1' %}">login</a>
                        {% endif %}

                        <a href="{% url 'register1' %}">register</a>
                    {%if user.is_superuser%}
                     <a href="{% url 'Beta_info' %}">Tester information </a>
                        {%endif%}


                    </div>
                </div>
                <div class="btn">
                                    <button mode="light" class="el-button el-button--primary">Light</button>
                                    <button mode="read" class="el-button el-button--success">Read</button>
                                    <button mode="dark" class="el-button el-button--warning">Dark</button>
                </div>


            </div>


            <ul class="nav-list pull-right">
                <li class="active"><a href="{% url 'myhome_index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li><a class="text" href="{% url 'vessel_name_ide' %}">Vessel Identification</a></li>
                <li><a class="text" href="{% url 'questionmain' %}">Quiz Bank</a></li>
                <li><a class="text" id="download" href="">Download</a></li>


            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div id="out">
{#    <div class="top" style="height: 80px">#}
{#        <h3 class="logo pull-left">AngioBase ——</h3>#}
{#        {% if user.is_authenticated %}#}
{#            <u class="logo pull-right"> <a href="{% url 'logout1' %}">Log Out </a></u>#}
{#            <br>#}
{#            <u class="logo pull-right"> <a href="{% url 'register1' %}">Register </a></u>#}
{#        {% else %}#}
{#            <u class="logo pull-right"> <a href="{% url 'login1' %}">Log In </a></u>#}
{#            <br>#}
{#            <u class="logo pull-right"> <a href="{% url 'register1' %}">Register </a></u>#}
{#        {% endif %}#}
{#               #  href="{% url 'login1' %}" class="logo pull-right">Log In</li>#}
{#        <ul class="nav-list pull-middle"></ul>#}
{#    </div>#}
    <div id="outB">
        <div class="news-left pull-left" style="margin-top: 30px">
            <div class="this-news">ICA Vessel Identification</div>
            <ul class="news-menu">
                <li ><a href="{% url 'vessel_name_ide' %}"><span class="glyphicon glyphicon-play"></span>Vessel Name</a></li>
{#                <li ><a href="{% url 'vessel_contour_ide' %}"><span class="glyphicon glyphicon-play"></span>Vessel Contour</a></li>#}
                <li><a href="{% url 'vessel_map_ide' %}"><span class="glyphicon glyphicon-play"></span>Vessel Map</a></li>
                <li ><a href="{% url 'Projection' %}"><span class="glyphicon glyphicon-play"></span>Projection</a></li>
                <li class="active" ><a href="{% url 'All_Message2' %}?page=1"><span class="glyphicon glyphicon-play"></span>Leave comments</a></li>
                <li><a href="{% url 'case_uploads' %}"><span class="glyphicon glyphicon-play"></span>Upload labelled case</a></li>
                <li><a href="{% url 'upload_dicoms' %}"><span class="glyphicon glyphicon-play"></span>Upload dicoms</a></li>
            </ul>
        </div>


        <div class="news-right pull-left" style="margin-top: 30px">
            <div class="comentWrap">
                <div class="comentHead">Comments to the same topic</div>

                <div class="friendHead">
                    <div class="touxiang">
                        <div class="image"></div>
                    </div>
                    <div class="friendInfo">
                        <div class="friendName">
                            {{ message.uid.userform.nickname }}
                        </div>
                        <div class="friendSign"></div>
                    </div>
                </div>
                <div class="Coments">
                    <div class="majorComents">
                        <div class="commentDetail"></div>
                         <div class="commentDetail">{{message.content }}</div>
                        <div class="commentHandel">
                            <text class="time">{{ message.create_time }}</text>
                            <!-- <text class="iconfont icon-dianzan_kuai"> 1</text> -->
                        </div>
                    </div>


                 <form action="{% url 'comment' message.id 0  message.id %}" method="get">
  <p><input type="text" name="content" /></p>
  <input type="submit" class="btn btn-info"value="Make a comment" />
</form>
                    <div class="subordinateWrap">
                    {% if page_obj.object_list %}
                         {% for comment in page_obj.object_list %}
                             <div class="subordinate">
                             <div>
                            <div class="nickName">
                                {% if comment.uid.userform.nickname %}
                                    {{ comment.uid.userform.nickname }}
                                {% else %}
                                   {{ comment.uid }}
                                {% endif %}
                            </div>

                             {% if comment.message_user_username  %}
                                 <div>
                            <div class="content">reply@333{{ comment.message_user_username }}：{{ comment.content }}  <a class="huifu" href="{% url 'comment' comment.id 1 %}">reply</a></div>
                                  <div class="content">reply@{{ comment.message_user_username }}：{{ comment.content }}
                                      <div class="reply_btn">
                                           <form id="delmg" action='{% url 'comment' comment.id 1 message.id %}' method="post">
                                      <input
                                          type="text" name="content">
                                      <button>reply</button>

                                      <a  href="javascript:;" class="reply_btn" >reply</a>
                                 </div>
                                 <form id="delmg" action='{% url 'comment' comment.id 1 message.id %}' method="post">
                                 <button onclick="alertinput()"  >按钮</button>
                                 <input type="submit"  value="输入" name="content">
                                 </form>
                             {% else %}
                                  <div class="content">{{ comment.uid.userform.nickname }}：{{ comment.content }}  <a  href="javascript:;" class="reply_btn" >回复</a></div>
                             {% endif %}


                            <div class="commentHandel">
                                <text class="time">{{ comment.create_time }}</text>
                            </div>

                        </div>
                             </div>
                        {% endfor %}
                    {% endif %}

<centor>
                    <nav aria-label="Page navigation example">

<ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'message_detail' message.id%}?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'message_detail' message.id %}?page=1">Previous</a></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                   <li class="page-item"><a class="page-link" href="{% url 'message_detail' message.id %}?page={{ i }}">{{ i }}</a></li>
             {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'message_detail' message.id %}?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'message_detail' message.id %}?page={{ page_obj.paginator.num_pages }}">Next</a></li>
            {% endif %}

</ul>
</nav></centor>





                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</div>


<script src="/static/js/jquery-1.11.0.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="../static/js/mainPageJs.js"></script>
<script src="../static/js/Download.js"></script>
<script>
    var point_url =
    {% url "point_details" %}
    var get_patient_path_url =
    {% url "patient_path" %}
    var get_add_url =
    {% url "get_add" %}
</script>
{#<script>#}
{#    function alertinput(){#}
{#        var content = prompt("请输入评论");#}
{#    }#}
{#</script>#}

<script>
    function disp_prompt(){
        prompt("Please enter a comment");
    }
</script>

</body>
</html>