<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <title>AngioBase</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-V06iGeOYiHqaJG18vU/udsyVfgcm8Pgax9HmoZh65R0FrT9X2GZZ8w2ZQcZkzZGV" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/slt.css">
    <link rel="stylesheet" href="../static/css/option.css">
    <link rel="stylesheet" href="../static/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/mainPageC.css">

    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/theme.js"></script>
    <style type="text/css">
        #cvs {
            display: none;
        }
    </style>
</head>
<body>
<div class="header-nav">
    <div class="container">
        <div class="top">
            <h3 class="logo pull-left">AngioBase</h3>
            <div class="logo pull-right">


                <div class="dropdown">
                    <button class="dropbtn">Option</button>
                    <div class="dropdown-content">
                        <a href="{% url 'user_center' %}">user_center</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout1' %}">logout</a>
                        {% else %}
                            <a href="{% url 'login1' %}">login</a>
                        {% endif %}

                        <a href="{% url 'register1' %}">register</a>


                    </div>
                </div>
                <div class="btn">
                    <button mode="light" class="el-button el-button--primary">Light</button>
                    <button mode="read" class="el-button el-button--success">Read</button>
                    <button mode="dark" class="el-button el-button--warning">Dark</button>
                </div>

            </div>


            <ul class="nav-list pull-right">
                <li><a class="text" href="{% url 'myhome_index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li><a class="text" href="{% url 'vessel_name_ide' %}">Vessel Identification</a></li>
                <li class="active"><a href="{% url 'questionmain' %}">Quiz Bank</a></li>
                <li><a class="text" id="download" href="">Download</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="out">

    <div id="outB">
        <div class="news-left pull-left" style="margin-top: 30px">
            <div class="this-news">Quiz Bank</div>
            <ul class="news-menu">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-play"></span>exam
                </a></li>
            </ul>

        </div>
        <div class="news-right pull-left" style="margin-top: 30px">
            <br>
            <li class="active"><a href="{% url 'po' %}?w=new"><span class="glyphicon glyphicon-play">new exam</span>
            </a></li>
            <br>
            <br>
            <li class="active"><a href="{% url 'start' %}?page=1"><span class="glyphicon glyphicon-play">last exam</span>
            </a></li>

        </div>
    </div>
</div>

</div>

<script src="../static/js/jquery-1.11.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/mainPageJs.js"></script>
<script src='/static/js/jquery-3.2.1.min.js'></script>
<script>

if (getCookie('mode') == null){
    setMode("light");
}
else{

    setMode(getCookie('mode'));
}
document.querySelector(".btn").addEventListener("click", (e) => {
    setMode(e.target.getAttribute("mode"));
    setCookie('mode',e.target.getAttribute("mode"));

})

</script>
</body>
</html>