#header {
    position: relative;
    height: 260px !important;
}

#header #header1 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.black {
    color: #000;
}

.b_gray {
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.52);
}

#header2 {
    width: 100%;
    height: 260px;
    background: url(../images/b4.jpg) no-repeat center;
}

#header2 .cover1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 260px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.603);
}

.nav_shop {
    position: relative;
    width: 100%;
    height: 55px;
    /* background-color: pink; */
    line-height: 55px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.63);
}

.nav_shop .w h2 i {
    color: #ccc;
    font-size: 25px;
    margin-top: 5px;
}

.nav_shop .w h2 {
    display: block;
    margin-left: 0px;
}

.contain {
    width: 100%;
    /* height: 1400px; */
}

.toggleColor {
    background-color: #fff;
    color: #000 !important;
}

.nav_shop .shop_count {
    position: absolute;
    left: 372px;
    top: 3px;
    display: block;
    text-align: center;
    line-height: 16px;
    padding: 2px 7px;
    height: 20px;
    color: #000;
    background-color: #ccc;
    border-radius: 50% 50% 50% 0;
}

.nav {
    margin-top: -1px;
    border-top: 1px solid #ccc;
    /* margin-top: -220px; */
    background-color: #f7f7f7;
}

.nav ul li a {
    border: 1px solid #ccc;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}